<!DOCTYPE html>
<html>
  <head>
    <title>Flaskplan</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 70%;
      }
      tr:nth-child(even) {background-color: #f2f2f2}
    </style>
  </head>
  <body>
    <div id="map"></div>
    <table id="departures" border="0" style="width:100%">
    </table> 
    <script src="static/main.js">
    </script>
    <script src="static/underscore.js">
    </script>
    
    <script async defer
            {% if apikey %}
            src="https://maps.googleapis.com/maps/api/js?key={{apikey}}&callback=initMap">
            {% else %}
            src="https://maps.googleapis.com/maps/api/js?callback=initMap">
            {% endif %}
    </script>
  </body>
</html>
